*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.panel {
  width: 400px;
  height: 300px;
  background-color: #182a9e;
}

.shape {
  width: 50px;
  height: 50px;
}

.shape--square {
  background-color: #7fd3e0;
}

.shape--circle {
  background-color: #e26bb0;
  border-radius: 50%;
}
