*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.panel {
  width: 400px;
  height: 300px;
  background-color: #182a9e;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shape {
  width: 50px;
  height: 50px;
}

.shape--square {
  background-color: #7fd3e0;
}

.shape--circle {
  background-color: #e26bb0;
  border-radius: 50%;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.corner {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 0.5rem;
}
